<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Калькулятор</title>
</head>
<body>
  <form method="post" action="/calculate">
    <input placeholder="первое число" type="number" name="op1" required />
    <select name='oper'>
      <option value="+">+</option>
      <option value="-">-</option>
      <option value="*">*</option>
      <option value="/">/</option>
    </select>
    <input placeholder="второе число" type="number" name="op2" required />
    <input type="submit" value="Посчитать"/>
  </form>
</body>
</html>